html {
  scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	color: white;
	font-family: 'josefin sans', sans-serif;
	text-align: center;
	font-weight: 400;
	font-size: 1.1rem;
}

.h1{
	font-weight: 700;
	font-size: 15vw;
	text-align: center;
	position: relative;
	animation-name: view;
  	animation-duration: 4s;
  	animation-iteration-count: 1;
  	animation-timing-function: linear;
}

@keyframes view {
	0%   { opacity: 0;}
	50%  { opacity: .5;}
	100%  { opacity: 1;}
}

.start-button:hover, .start-button:visited, .start-button:link, .start-button:active{
	color: #FFFFFF;
	text-decoration: none;
	border-style: solid;
	border-radius: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

h2{
	font-weight: 700;
	font-size: 3rem;
}

h3{
	color: gray;
	font-weight: 300;
}

.navbar-class{
	font-weight: 700;
	font-size: 1.2rem;
}

.img-jason{
	height: 5rem;
	width: 5rem;
}

.img-mac{
	height: 25%;
	width: 25%;
	margin-top: 3rem;
	object-fit: contain;
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
	position: relative;
	animation-name: view;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.intro-name{
	margin-top: 22rem;
	font-weight: 700;
	font-size: 2rem;
	position: relative;
	animation-name: blink;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	0%   { opacity: 0;}
	50%  { opacity: .5;}
	100%  { opacity: 1;}
}

.intro-body{
	text-align: left;
	justify-content: center;
	font-weight: 700;
	font-size: 1.5rem;
	color: gray;
	position: relative;
	animation-name: view;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.jason{
  color: white;
  font-size: 2rem;
}

.bg-tools{
	background: url(./../images/macbook.jpg) no-repeat center fixed;
  background-size: contain;
}

.tools-body{
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 2rem;
}

.img-bg-tools{
	margin: 1rem;
}

.about-me{
	font-weight: 300;
	font-size: 1.5rem;
	text-align: left;
	color: lightgray;
}

.img-interest{
	height: 50%;
	width: 50%;
	object-fit: contain;
}

.logo-intro{
	height: 50px;
	width: 50px;
	object-fit: contain;
	margin: 0.5rem;
	margin-top: 5rem;
}

.logo-about-me{
	height: 60px;
	width: 60px;
	object-fit: contain;
	margin: 1rem;
}

.profile-picture{
	border-radius: 13rem;
	margin-bottom: 3rem;
}

.logo-footer{
	height: 50px;
	width: 50px;
	object-fit: contain;
	margin: 1rem;
}

.contact-me-body{
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
	color: lightgray;
}

.ask-me{
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	color: white
}

.ask-me-body{
	font-weight: 300;
	font-size: 1.1rem;
	text-align: center;
	color: white;	
}

.carousel-text{
		font-weight: 700;
		font-size: 1rem;
		color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	opacity: 0;
	}

@media (max-width: 991px){

	.intro-body{
		padding-top: 1rem;
		text-align: center;
		font-size: 1.5rem;
	}

	.about-me{
		text-align: center	;
	}
}

.bg-color-start{
	background-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(31,26,26,1) 65%, rgba(67,16,67,1) 88%);
}

.bg-color-end{
	background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,26,26,1) 65%, rgba(67,16,67,1) 88%);
}